{% load cms_tags menu_tags sekizai_tags static %}

<div class="slider-container">
  <div class="slider" id="revolutionSlider" data-slider-id="{{ instance.id }}" data-plugin-options='{"startheight": 500}'>
    <div class="slides">
      {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
      {% endfor %}
    </div>
  </div>
</div>

{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'revolution/css/captions-original.css' %}"/>
  <link rel="stylesheet" href="{% static 'revolution/css/rs6.css' %}"/>
{% endaddtoblock %}

{% addtoblock "js" %}
  <script src="{% static 'revolution/js/rbtools.min.js' %}"></script>
  <script src="{% static 'revolution/js/rs6.min.js' %}"></script>
  <script src="{% static 'revolution/js/rslider.js' %}"></script>
  <script>
    jQuery('.slider').revolution();
  </script>
{% endaddtoblock %}

